.btn-modal-open {
    border: 1px solid black;
    border-radius: 5px;
    height: 1.5em;
    width: 1.5em;
    margin: 0px 1px;
    display: inline-block;
    /* background-color: #ffaa00; */
  }

.btn-modal-content {
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px 4px;
    margin: 10px 10px;
    display: inline-block;
    background-color: #ffaa00;
}

.modal-title {
    color: '#ffaa00'
}

.sequenceContainer {
  border: 2px solid gray;
  border-radius: 5px;
  min-height: 20%;
  max-height: 150px;
  width: 100%;
  max-width: 750px;
  margin: 10px auto;
  border: 1px solid gray;
  overflow-wrap: break-word;
  overflow-x: hidden;
  padding: 5px;
  background-color: lightgray
}

.modal-container {
  margin: 5px auto;
  display: inline-block;
}

.subtitle {
  /* padding: 10px; */
  margin: 10px auto;
}

.sequenceSpan {
  display: block;
  min-height: 20%;
  max-height: 30%;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  word-wrap: break-word;
  overflow: hidden;
}

/* Highlight in sequence, currently doing inline in HighlightText component... */
.highlight {
  background-color: #ffaa00;
  padding: 2px 6px;
  border-radius: 2px;
}



